 /* The animation code */
 @keyframes colorswitch {
    from {background-color: lightblue;}
    to {background-color:rgba(0, 0, 255, 0.733);}
  }
  
  /* The element to apply the animation to */
  body {
    background-color: rgba(0, 0, 255, 0.733);
    animation-name: colorswitch;
    animation-duration: 10s;
  }
  p{
      background-color: white;
      border: 2px solid black;
  }
  image{
      height: 300px;
      width: 100%;
  }